html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.perso {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 999;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/maps/Space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bullet{
  position: absolute;
  background: url(../img/sprites/fireball.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  z-index: 995;
}

.special{
  position: absolute;
  background: url(../img/sprites/GregPuget.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  z-index: 995;
}

.platform, .platformBody {
  width: 660px;
  height: 168px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 32vw;
  bottom: 390px;
}

.platform {
  background-image: url(../img/sprites/ufo.png);
  z-index: 400;
}

.platformBody {
  background-image: url(../img/sprites/ufo_forgrnd.png);
  z-index: 1200;
}

.platformHitBox {
  width: 660px;
  height: 2px;
  position: absolute;
  left: 32vw;
  bottom: 435px;
}

.magicBall{
  background: red;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.tank-static{
  animation: tankStatic .5s infinite;
}

.tank-move{
  animation: tankMove .5s infinite;
}

.tank-shoot{
  animation: tankShoot .5s forwards;
}

.tank-jump{
  animation: tankJump .5s forwards;
}

@keyframes tankStatic {
  0%{background: url(../img/sprites/tank/Static/tank_static_0.png);background-size: contain;  background-repeat: no-repeat;}
  33%{background: url(../img/sprites/tank/Static/tank_static_1.png);background-size: contain;  background-repeat: no-repeat;}
  66%{background: url(../img/sprites/tank/Static/tank_static_2.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Static/tank_static_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes tankMove {
  0%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/tank/Run/Right/tank_run_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes tankShoot {
  0%{background: url(../img/sprites/tank/Shoot/Right/tank_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/tank/Shoot/Right/tank_shoot_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Shoot/Right/tank_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes tankJump {
  0%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/tank/Jump/tank_jump.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}
