html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.perso {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 999;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/maps/Space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bullet{
  position: absolute;
  background: url(../img/sprites/fireball.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  z-index: 995;
}

.special{
  position: absolute;
  background: url(../img/sprites/GregPuget.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  z-index: 995;
}

.platform, .platformBody {
  width: 660px;
  height: 168px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 32vw;
  bottom: 390px;
}

.platform {
  background-image: url(../img/sprites/ufo.png);
  z-index: 400;
}

.platformBody {
  background-image: url(../img/sprites/ufo_forgrnd.png);
  z-index: 1200;
}

.platformHitBox {
  width: 660px;
  height: 2px;
  position: absolute;
  left: 32vw;
  bottom: 435px;
}

.magicBall{
  background: red;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.tank-static{
  animation: tankStatic .5s infinite;
}

.tank-move{
  animation: tankMove .5s infinite;
}

.tank-shoot{
  animation: tankShoot .5s forwards;
}

.tank-jump{
  animation: tankJump .5s forwards;
}

.flash-static{
  animation: flashStatic .5s infinite;
}

.flash-move{
  animation: flashMove .5s infinite;
}

.flash-shoot{
  animation: flashShoot .5s forwards;
}

.flash-jump{
  animation: flashJump .5s forwards;
}

.soldier-static{
  animation: soldierStatic .5s infinite;
}

.soldier-move{
  animation: soldierMove .5s infinite;
}

.soldier-shoot{
  animation: soldierShoot .5s forwards;
}

.soldier-jump{
  animation: soldierJump .5s forwards;
}

.sniper-static{
  animation: sniperStatic .5s infinite;
}

.sniper-move{
  animation: sniperMove .5s infinite;
}

.sniper-shoot{
  animation: sniperShoot .5s forwards;
}

.sniper-jump{
  animation: sniperJump .5s forwards;
}

@keyframes tankStatic {
  0%{background: url(../img/sprites/tank/Static/tank_static_0.png);background-size: contain;  background-repeat: no-repeat;}
  33%{background: url(../img/sprites/tank/Static/tank_static_1.png);background-size: contain;  background-repeat: no-repeat;}
  66%{background: url(../img/sprites/tank/Static/tank_static_2.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Static/tank_static_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes tankMove {
  0%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/tank/Run/Right/tank_run_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes tankShoot {
  0%{background: url(../img/sprites/tank/Shoot/Right/tank_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/tank/Shoot/Right/tank_shoot_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Shoot/Right/tank_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes tankJump {
  0%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/tank/Jump/tank_jump.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/tank/Run/Right/tank_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes flashStatic {
  0%{background: url(../img/sprites/flash/Static/flash_static_0.png);background-size: contain;  background-repeat: no-repeat;}
  33%{background: url(../img/sprites/flash/Static/flash_static_1.png);background-size: contain;  background-repeat: no-repeat;}
  66%{background: url(../img/sprites/flash/Static/flash_static_2.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/flash/Static/flash_static_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes flashMove {
  0%{background: url(../img/sprites/flash/Run/Right/flash_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/flash/Run/Right/flash_run_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/flash/Run/Right/flash_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes flashShoot {
  0%{background: url(../img/sprites/flash/Shoot/Right/flash_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/flash/Shoot/Right/flash_shoot_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/flash/Shoot/Right/flash_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes flashJump {
  0%{background: url(../img/sprites/flash/Run/Right/flash_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/flash/Jump/flash_jump.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/flash/Run/Right/flash_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes soldierStatic {
  0%{background: url(../img/sprites/soldier/Static/soldier_static_0.png);background-size: contain;  background-repeat: no-repeat;}
  33%{background: url(../img/sprites/soldier/Static/soldier_static_1.png);background-size: contain;  background-repeat: no-repeat;}
  66%{background: url(../img/sprites/soldier/Static/soldier_static_2.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/soldier/Static/soldier_static_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes soldierMove {
  0%{background: url(../img/sprites/soldier/Run/Right/soldier_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/soldier/Run/Right/soldier_run_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/soldier/Run/Right/soldier_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes soldierShoot {
  0%{background: url(../img/sprites/soldier/Shoot/Right/soldier_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/soldier/Shoot/Right/soldier_shoot_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/soldier/Shoot/Right/soldier_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes soldierJump {
  0%{background: url(../img/sprites/soldier/Run/Right/soldier_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/soldier/Jump/soldier_jump.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/soldier/Run/Right/soldier_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes sniperStatic {
  0%{background: url(../img/sprites/sniper/Static/sniper_static_0.png);background-size: contain;  background-repeat: no-repeat;}
  33%{background: url(../img/sprites/sniper/Static/sniper_static_1.png);background-size: contain;  background-repeat: no-repeat;}
  66%{background: url(../img/sprites/sniper/Static/sniper_static_2.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/sniper/Static/sniper_static_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes sniperMove {
  0%{background: url(../img/sprites/sniper/Run/Right/sniper_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/sniper/Run/Right/sniper_run_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/sniper/Run/Right/sniper_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes sniperShoot {
  0%{background: url(../img/sprites/sniper/Shoot/Right/sniper_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/sniper/Shoot/Right/sniper_shoot_right_1.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/sniper/Shoot/Right/sniper_shoot_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}

@keyframes sniperJump {
  0%{background: url(../img/sprites/sniper/Run/Right/sniper_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
  50%{background: url(../img/sprites/sniper/Jump/sniper_jump.png);background-size: contain;  background-repeat: no-repeat;}
  100%{background: url(../img/sprites/sniper/Run/Right/sniper_run_right_0.png);background-size: contain;  background-repeat: no-repeat;}
}
