html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.perso {
  height: 200px;
  width: 100px;
  background: url(../img/sprites/Ken-hdstance.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 999;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/maps/Space.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bullet{
  position: absolute;
  background: url(../img/sprites/fireball.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}


.platform {
  width: 660px;
  height: 168px;
  background-image: url(../img/sprites/ufo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 32vw;
  bottom: 390px;
}

.platformHitBox {
  width: 660px;
  height: 2px;
  background: black;
  position: absolute;
  left: 32vw;
  bottom: 435px;
}
