@font-face {
font-family: 'ARCADE';
src: url('../font/ARCADE_R.TTF')
}
/* BACKGROUND */
/* BACKGROUND */
*{
  margin: auto 0;
  font-family:'ARCADE';
  color: white;
}
.background{
  width: 100%;
  height: 100%;
  position: absolute;
}

.SelectPlayer{
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 9.375rem;
  font-size: 0.8125rem;
}

/* PLAYER IMG*/
/* PLAYER IMG */

.container{
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 3.75rem;
}

.player{
  display: flex;
  flex-direction: column;

}

.player img{
  display: flex;
  height: 21.875rem;
  transition: all 0.2s ease-in;
  padding-top: 3.75rem;
}

.player img:hover{
  transform: scale(1.1);
}

/* PLAYER TEXTE */
/* PLAYER TEXTE */

.player h1{
  position: absolute;
  top: 90%;
  left: 11%;
  padding-top: 3.75rem;
}

.player:nth-child(2) h1{
  position: absolute;
  left:42%;
  top: 90%;
  padding-top: 3.75rem;
}

.player:nth-child(3) h1{
  position: absolute;
  left:64%;
  top: 90%;
  padding-top: 3.75rem;
}

.player:last-of-type h1{
  position: absolute;
  left: 85%;
  top: 90%;
  padding-top: 3.75rem;

}

/* BUTTON RETURN */
/* BUTTON RETURN */

h2{
  position: absolute;
  top: 9%;
  left: 5%;
  transition: all 0.2s ease-in;
  }

  h2:hover{
  transform: scale(1.1);
  }
