@font-face {
font-family: 'ARCADE';
src: url('../font/ARCADE_R.TTF')
}
/* BACKGROUND */
/* BACKGROUND */
*{
  margin: auto 0;
  font-family:'ARCADE';
  color: white;
}
.background{
  width: 100%;
  height: 100%;
  position: absolute;
}

.Skin{
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 9.375rem;
  font-size: 0.8125rem;
}

/* SKIN SKY IMG */
/* SKIN SKY IMG */

.container{
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 3.75rem;
}

.Sky{
  display: flex;
  flex-direction: column;

}

.Sky img{
  display: flex;
  height: 25.125rem;
  transition: all 0.2s ease-in;
}


.Sky img:hover{
  transform: scale(1.1);
}

/* SKIN SKY TEXTE */
/* SKIN SKY TEXTE */

.Sky h1{
  position: absolute;
  top: 103%;
  left: 13%;
}

.Sky:nth-child(2) h1{
  position: absolute;
  left: 45.5%;
  top: 103%;

}

.Sky:last-of-type h1{
  position: absolute;
  left: 79%;
  top: 103%;

}

/* RETURN BUTTON */
/* RETURN BUTTON */

h2{
  position: absolute;
  top: 9%;
  left: 5%;
  transition: all 0.2s ease-in;
}

  h2:hover{
  transform: scale(1.1);
}
